@use "../../colors";
@use "../../breakpoints";

.btn-light {
  color: colors.$black;
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 0.05rem;

  &:hover {
    background-color: colors.$off-white;
    cursor: pointer;
  }
}
