@use "../../colors";
@use "../../breakpoints";

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-light {
  color: colors.$black;
  background-color: white;
  border: none;
  border-radius: 50%;

  &:hover {
    background-color: colors.$off-white;
    cursor: pointer;
  }
}

.btn-dark {
  color: white;
  background-color: colors.$black;
  border: none;
  border-radius: 50%;

  &:hover {
    background-color: colors.$off-black;
    cursor: pointer;
  }
}
