@use "../../colors";
@use "../../breakpoints";

button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2.5rem;
}

.btn-icon {
  border-radius: 50%;
  padding: 0 0.5rem;
}

.btn-text {
  border-radius: 64px;
  padding: 0 1.5rem;
  font-size: 0.75rem;
}

.btn-light {
  color: colors.$black;
  background-color: white;
  border: none;

  &:hover {
    background-color: colors.$off-white;
    cursor: pointer;
  }
}

.btn-gray {
  color: colors.$black;
  background-color: colors.$off-white;
  border: none;

  &:hover {
    background-color: colors.$light-gray;
    cursor: pointer;
  }
}

.btn-dark {
  color: white;
  background-color: colors.$black;
  border: none;

  &:hover {
    background-color: colors.$off-black;
    cursor: pointer;
  }
}

.btn-line-light {
  background-color: white;
  border: 1px solid colors.$light-gray;

  &:hover {
    border: 1px solid colors.$dark-gray;
    cursor: pointer;
  }
}
