@use "../../colors";
@use "../../breakpoints";

#promotional {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 2rem calc(1.25rem / 2 * -1);

  @include breakpoints.sm {
    flex-direction: row;
  }

  @include breakpoints.lg {
    margin-top: 4rem;
  }

  > div {
    box-sizing: border-box;
    width: 100%;

    @include breakpoints.sm {
      width: 50%;
    }
  }

  img {
    width: 100%;
  }

  #main-promotion {
    > div {
      margin: calc(1.25rem / 2);
      margin-bottom: 1rem;

      @include breakpoints.lg {
        margin-bottom: 2rem;
      }
    }
  }

  #additional-promotions {
    > div {
      margin: calc(1.25rem / 2);
      margin-bottom: 1rem;

      @include breakpoints.lg {
        margin-bottom: 2rem;
      }
    }

    .link-wrapper p {
      margin: 0;
    }

    .link-wrapper p span {
      margin-right: 0.1875rem;
      line-height: 1.7;
    }
  }
}
