.dot-button {
  transition: border-color 250ms ease-in-out, opacity 250ms ease-in-out,
    visibility 250ms ease-in-out;
  padding: 0;
  width: 2rem;
  height: 2rem;
  border: 2px solid transparent;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 64px;
  line-height: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.4);
  }
}

.dot-button::after {
  content: "";
  transition: transform 250ms ease-in-out;
  position: relative;
  display: block;
  background: white;
  box-shadow: 0 1px 4px rgb(0 0 0 / 55%);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 64px;
}
