@use "../../colors";
@use "../../breakpoints";

header {
  box-sizing: border-box;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

header nav {
  box-sizing: border-box;
  width: 100%;
  max-width: breakpoints.$max-page-width;
  padding: 0 1.25rem;

  @include breakpoints.xs {
    padding: 0 2rem;
  }

  @include breakpoints.sm {
    padding: 0 3rem;
  }

  @include breakpoints.md {
    display: grid;
    grid-column-gap: 1.25rem;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    padding: 0 2.5rem 0 1.25rem;
  }
}

header .header-wrapper {
  flex-grow: 1;
  display: flex;
  border-bottom: 1px solid colors.$light-gray;
  flex-wrap: wrap;
  padding-bottom: 1rem;

  @include breakpoints.cus(700px) {
    flex-wrap: nowrap;
    padding-bottom: 0;
  }

  @include breakpoints.md {
    grid-column: 2/14;
    grid-row: 1;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    padding: 0.9375rem 0;
    order: 1;

    @include breakpoints.sm {
      padding: 1.75rem 0;
    }
  }

  .logo {
    display: block;
    width: 75px;
    height: 30px;

    @include breakpoints.sm {
      width: 90px;
      height: 36px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .nav-text {
    order: 2;
    display: none;
    margin-left: 2rem;

    @include breakpoints.md {
      display: flex;
    }

    li {
      margin: auto;
      padding: 0.625rem 0.9375rem;
    }
  }

  .nav-icons {
    order: 3;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include breakpoints.cus(700px) {
      margin-left: 2rem;
    }

    button {
      margin-left: 2px;
      height: 2.5rem;
      padding: 0 0.5rem;

      @include breakpoints.sm {
        margin-left: 8px;
      }
    }

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  #truck {
    display: none;

    @include breakpoints.md {
      display: block;
    }
  }

  #menu {
    display: block;

    @include breakpoints.md {
      display: none;
    }
  }

  .search-form {
    order: 4;
    width: 100%;

    @include breakpoints.cus(700px) {
      order: 2;
      width: auto;
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin-left: 2.5rem;
    }
  }
}

header .hamburger-menu-icon {
  display: none;

  @include breakpoints.md {
    position: sticky;
    display: flex;
    grid-column: 1;
    grid-row: 1;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 2.5rem;
    padding: 0 0.5rem;

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
