$black: #111;
$off-black: #333;
$dark-gray: #484848;
$off-white: #f5f5f5;
$light-gray: #dfdfdf;
$red: #cc0008;
$orange: #ca5008;
$baby-blue: #0078c9;
$maroon: #550006;
$beige: #936c4f;
$olive-green: #6e7547;
$navy-gray: #243240;
