@use "_colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input {
  font-family: "Noto Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: colors.$black;
  text-decoration: none;
  font-size: 0.875rem;

  &:hover {
    text-decoration: underline;
  }
}

.bold {
  font-weight: 700;
}

.strike {
  text-decoration: line-through;
}

.red {
  color: colors.$red;
}

.orange {
  color: colors.$orange;
}
